@layer reset, components, utilities;

/* MPLUS2 */
@font-face { 
  font-family: "M PLUS 2", sans-serif;
  src: url("assets/font/MPLUS2-Light") format("truetype");
  font-weight: 300;
}
@font-face { 
  font-family: "M PLUS 2", sans-serif;
  src: url("assets/font/MPLUS2-Regular") format("truetype");
  font-weight: 400;
}
@font-face { 
  font-family: "M PLUS 2", sans-serif;
  src: url("assets/font/MPLUS2-SemiBold") format("truetype");
  font-weight: 600;
}
@font-face { 
  font-family: "M PLUS 2", sans-serif;
  src: url("assets/font/MPLUS2-Bold") format("truetype");
  font-weight: 800;
}
@font-face { 
  font-family: "M PLUS 2", sans-serif;
  src: url("assets/font/MPLUS2-Black") format("truetype");
  font-weight: 900;
}

/* Noto Sans */
@font-face { 
  font-family: "Noto Sans", sans-serif;
  src: url("assets/font/NotoSans-Light") format("truetype");
  font-weight: 300;
}
@font-face { 
  font-family: "Noto Sans", sans-serif;
  src: url("assets/font/NotoSans-Regular") format("truetype");
  font-weight: 400;
}
@font-face { 
  font-family: "Noto Sans", sans-serif;
  src: url("assets/font/NotoSans-Medium") format("truetype");
  font-weight: 500;
}
@font-face { 
  font-family: "Noto Sans", sans-serif;
  src: url("assets/font/NotoSans-Bold") format("truetype");
  font-weight: 700;
}

/* Raleway */ 
@font-face { 
  font-family: "Raleway", sans-serif;
  src: url("assets/font/Raleway-ExtraBold") format("truetype");
  font-weight: 800;
}
@font-face { 
  font-family: "Raleway", sans-serif;
  src: url("assets/font/RRaleway-Black") format("truetype");
  font-weight: 800;
}

/* Outfit */ 
@font-face { 
  font-family: "Outfit", sans-serif;
  src: url("assets/font/Outfit-SemiBold") format("truetype");
  font-weight: 600;
}
@font-face { 
  font-family: "Outfit", sans-serif;
  src: url("assets/font/Outfit-Bold") format("truetype");
  font-weight: 700;
}
@font-face { 
  font-family: "Outfit", sans-serif;
  src: url("assets/font/Outfit-ExtraBold") format("truetype");
  font-weight: 800;
}

/* reset */
@layer reset {}
@layer components {}
@layer utilities {}
@scope(.container > wrap) {
    /* 한전된 css important 대신 사용 */
}
