/* 컴포넌트 기반 디자인 */
@container (min-width: 300px) {
    .card {
        font-size: 1.2rem;
    }
}

/* style 우선순위 */
@layer reset, base, components, utilities;
@layer reset {
    * {
        margin: 0;
        padding: 0;
    }
}
@layer components {
    .button {
        background-color: blue;
    }
}

/* CSS의 범위를 특정 영역으로 한정, 스타일 충돌을 방지 */
@scope (.modal) {
    .button {
        background-color: red;
    }
}

/* Custom Media Queries */
@custom-media --large-screen (min-width: 1200px);
@media (--large-screen) {
    .container {
        max-width: 1200px;
    }
}

/* 비율 */
.aspect-ratio-hd {
  aspect-ratio: 16/9; /* 16:9 비율 */
}

.aspect-ratio-square {
  aspect-ratio: 1; /* 정사각형 */
}

/* text */
:is(h1, h2, h3, h4, .text-balance) {
  text-wrap: balance;
  max-inline-size: 25ch;
}